/* Texto general de pkgdown */
body {
  font-size: 1.1rem;               /* Tama침o base del texto */
  font-family: "Arial", monospace;   /* Misma fuente que el c칩digo */
}
/* Opcional: si quieres mantener monospace pero igual tama침o que el body */
pre, code, pre code {
  font-size: 1rem;      /* mismo tama침o */
  font-family: "Fira Code", monospace; /* o la que uses */
}
